/*广告位*/
.Advert{width: 100%;}
.Advert a{width: 100%;display: block;}
.Advert a img{width: 100%;}
/*右侧广告*/
.ad_left{position: fixed;top: 455px;right: 0;cursor: pointer;display: none;}
/*广告层*/
.ad_shade{position: fixed;width: 100%;height: 100%;left: 0;top: 0; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);z-index: 999;background-color: rgba(0,0,0,0.19);display: none;}
.ad_shade_det{width: 700px;height: 360px;background-color: #fff;position: absolute;left: 50%;top: 50%;margin-left: -350px;margin-top: -180px;}
.re_box textarea{width: 570px;height: 195px;border: 1px solid #ccc;margin: 28px 0 0 50px;resize:none;padding: 10px;}
.file_b a{position: relative;height: 58px;display: inline-block;float: left;background: url(https://staticresource.liuxue315.cn/images/ac1_img7.png);width: 58px;}
.file_b .file_b_img{position: relative;height: 58px;float: left;margin-right: 10px;width: 58px;border: 1px solid #ccc;}
.file_b .file_b_img>img{height: 58px;width: 58px;}
.delete{position: absolute;right: -7px;top: -7px;}
.delete img{width: 14px;height: 14px;cursor: pointer;}
.up_img{width: 100%;height: 100%;left: 0;top: 0;background-color: rgba(0,0,0,0.3);position: fixed;display: none;z-index: 9999;}
.up_img_det{width: 240px;height: 140px;position: absolute;left: 50%;top: 50%;margin-left: -150px;margin-top: -100px;background-color: #fff;padding: 30px;}
.up_img_det input[type="file"]{margin: 10px auto;}
.close{position: absolute;right: 6px;top: 6px;cursor: pointer;}
.up_img_det .msg-box{display: none;}
.ad_shade_det .n-right{margin-top: 251px;margin-left: -117px;}
/*首页banner*/
.banner_wrap .list_1 span{background: #fff;width: 12px;height: 12px;border-radius: 12px;}
/*首页弹出框*/
.ac1_shade{position: fixed;width: 100%;height: 100%;left: 0;top: 0; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);z-index: 999;background-color: rgba(0,0,0,0.19);display: none;}
.ac1_shade_det{width: 700px;height: 512px;position: absolute;left: 50%;top: 50%;margin-left: -350px;margin-top: -256px;background: url(https://staticresource.liuxue315.cn/images/ac1_img9.jpg) no-repeat left top;}
.ac1_shade_det>a{width: 676px;display: inline-block;height: 512px;float: left;}
.ac1_shade_det p{display: inline-block;width: 24px;height: 24px;float: left;cursor: pointer;}
.main{width:1100px;margin:0 auto}
.login-wrap{width:100%;height:28px;background-color:#101010}
.login-wrap .login{width:1100px;height:28px;margin:0 auto}
.login-wrap .login li{height:28px;color:#FFF;line-height:28px;font-size:12px}
/*下载划过效果*/
.down_list{padding: 0 3px;}
.down_list:hover{background: #f8f8f8;border-top-left-radius: 5px;border-top-right-radius: 5px;cursor: pointer;color: #333333!important;}
.down_list:hover a{color: #333333!important;}
.login-wrap .login li{position: relative;z-index: 999;}
.login-wrap .login li div{position: absolute;width: 122px;height: 138px;display: none;background-color: #f8f8f8;left: 0;border: 1px solid #ececec;border-top: 0;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;padding: 5px 10px;}
.login-wrap .login li div a{line-height: 26px;display: block;margin-top: 10px;color: #333;}
.login-wrap .login li div a img{width: 26px;height: 26px;margin-right: 10px;}
.login-wrap .login li a{color:#fff;line-height:28px;font-size:12px}
.login-wrap .login li:nth-child(1),.login-wrap .login li:nth-child(2),.login-wrap .login li:nth-child(3),.login-wrap .login li:nth-child(4){float:left;margin-right:17px}
.login-wrap .login li:nth-child(5),.login-wrap .login li:nth-child(6),.login-wrap .login li:nth-child(7){float:right;margin-left:17px}
.login-wrap .login > li,.login-wrap .login > li + li,.login-wrap .login > li + li + li,.login-wrap .login > li + li + li + li{float:left;margin-right:17px}
.login-wrap .login > li + li + li + li + li,.login-wrap .login > li + li + li + li + li + li,.login-wrap .login > li + li + li + li + li + li + li{float:right;margin-left:17px}
.search_wrap{width:1100px;margin:20px auto 0;height:99px}
.search_wrap .logo{float:left;height:99px;width:250px;margin-top:0}
.search_wrap .logo:hover{text-decoration:none}
.search_wrap .logo img{float:left;margin-right:10px}
.search_wrap .logo h1{margin-top:12px;color:#c32326;font-size:24px}
.search_wrap .logo h2{font-size:12px;font-weight:normal;line-height:28px;color:#666666}
.search_wrap .slogan{float:left}
.search_wrap .slogan h2{font-size:16px;font-weight:normal;line-height:24px;color:#858585;font-family:"翩翩体-简"}
.search_wrap .slogan h2:nth-child(2){text-indent:2rem}
.search_wrap .search_w{width:480px;height:100%;float:right}
.search_wrap .search_w .search{width:480px;height:47px;border:1px solid #cecece;box-sizing:initial}
.search_wrap .search_w .search img{float:left}
.search_wrap .search_w .search input{float:left;width:285px;height:47px;border:0;font-size:15px}
.search_wrap .search_w .search button{display:inline-block;width:144px;float:right;background-color:#b7241c;height:47px;color:#FFFFFF;text-align:center;line-height:47px;font-size:16px}
.search_wrap .search_w ul{margin-top:10px}
.search_wrap .search_w ul li{float:left;margin-right:10px;color:#999999}
.search_wrap .search_w ul li a{color:#999999}
.nav{width:1100px;height:50px;margin:0 auto;background-color:#112f5c;background:-webkit-linear-gradient(left,#305293,#112f5c);background:-o-linear-gradient(right,#305293,#112f5c);background:-moz-linear-gradient(right,#305293,#112f5c);background:linear-gradient(to right,#305293,#112f5c)}
.nav li{float:left;cursor:pointer;position:relative}
.nav li img{position:absolute;right:8px;top:8px}
.nav li a{display:inline-block;color:#FFFFFF;font-size:16px;line-height:50px;text-align:center;padding:0 23px;box-sizing:content-box}
.nav li.active,.nav li:hover{background-color:#b7241c}
.footer_1{width:100%;height:276px;background-color:#fafafa}
.footer_1 ul{width:1100px;height:100%;margin:40px auto 0}
.footer_1 ul li{float:left;width:220px}
.footer_1>ul>li{height:100%}
.footer_1 ul li ul{width:220px;height:100%}
.footer_1 ul li ul li{float:none}
.footer_1 ul li ul li a{line-height:24px;color:#333333}
.footer_1 ul li ul li img{width:100px}
.footer_1 ul li ul li:nth-child(1){margin-bottom:14px;font-weight:bold}
.footer_1 ul li ul li:nth-child(1) a{font-size:18px;line-height:18px}
.footer_1 ul li:nth-child(5) p:nth-child(1){font-size:18px;font-weight:bold}
.footer_1 ul li:nth-child(5) p:nth-child(2){margin-top:12px;font-size:14px}
.footer_1 ul li:nth-child(5) p:nth-child(3){font-size:24px;line-height:40px}
.footer_2{width:100%;height:auto;margin:0 auto;background-color:#112f5c}
.footer_2 .fri_links{width:1088px;padding:26px 0 20px 0;border-bottom:1px solid #2E4870}
.footer_2 .fri_links span{color:#FFFFFF;font-size:14px;margin-bottom:20px;display:block;margin-left:22px;opacity:0.7}
.footer_2 .fri_links ul{margin-left:22px}
.footer_2 .fri_links ul li{float:left;margin-right:25px}
.footer_2 .fri_links ul li a{color:#FFFFFF;font-size:14px;line-height:24px;opacity:0.7}
.go_top{display:none;position:fixed;width:61px;height:61px;position:fixed;left:50%;bottom:50px;margin-left:570px}
.see{height:49px;background:-webkit-linear-gradient(left,#305293,#112f5c);background:-o-linear-gradient(right,#305293,#112f5c);background:-moz-linear-gradient(right,#305293,#112f5c);background:linear-gradient(to right,#305293,#112f5c)}
.see .go_see{width:900px;height:49px;float:left;overflow:hidden}
.see .swiper-slide ul li{float:left;margin-left:75px;list-style:disc;color:#fff}
.see .swiper-slide ul li a{color:#FFFFFF;line-height:49px}
.see .see_r{float:right}
#form{width:690px;height:540px;border:1px solid #E2E2E2;margin-top:-40px;margin:90px auto 0;border-top:0;position:relative}
#form .form_top{width:700px;height:50px;position:absolute;background:#FFFFFF url(https://staticresource.liuxue315.cn/images/form_bg.png) no-repeat left top;right:0}
#form .form_top p{text-align:center;font-size:18px;color:#FFFFFF;line-height:40px;text-indent:0}
#form .form_top p span{font-size:14px}
#form form{width:300px;height:460px;margin:14px auto 0}
#form form span{color:#c32326}
#form form input{display:block;width:300px;height:40px;border:1px solid #E2E2E2;margin-bottom:6px}
#form form .multipleSelect{display:block;width:300px;height:40px;border:1px solid #E2E2E2;margin-bottom:6px}
#form form .submitButton{display:block;width:300px;height:40px;background-color:#c32326;color:#FFFFFF;line-height:40px;text-align:center;font-size:16px;letter-spacing:10px;margin-top:20px;border:0}
#banner_r{width:341px;height:402px;border:1px solid #E2E2E2;float:right}
#banner_r h3{font-size:18px;color:#666666;text-align:center;font-weight:normal;margin-top:6px;line-height:39px}
#banner_r input{display:block;width:300px;height:40px;border:1px solid #f2f2f2;margin:0 auto 14px;color:#999999;line-height:40px;text-indent:8px}
#banner_r .submitButton{display:block;width:300px;height:40px;background-color:#c80007;color:#FFFFFF;line-height:40px;text-align:center;margin:0 auto;border:0}
#container_r{width:320px;height:auto;float:right;margin-top:50px}
.form{width:320px;border:1px solid #E2E2E2;box-sizing:border-box;padding-bottom:20px}
.form h3{font-size:18px;color:#666666;text-align:center;font-weight:normal;margin-top:6px;line-height:39px}
.form input{display:block !important;width:280px;height:40px;border:1px solid #f2f2f2;margin:0 auto 14px;color:#999999;line-height:40px;text-indent:8px}
.form .submitButton{display:block;width:280px;height:40px;background-color:#c80007;color:#FFFFFF;line-height:40px;text-align:center;margin:0 auto;font-size:16px}
.container_r_img{margin-top:20px;display:block;width:320px;overflow:hidden}
.new_article{width:278px;margin-top:20px;border:1px solid #E2E2E2;padding-bottom:14px}
.new_article h3{text-align:center;font-size:18px;color:#333;font-weight:normal;line-height:42px}
.new_article{padding: 0 20px 10px;}
.new_article ul{margin-left: 0;}
.new_article ul li{list-style:inside square;color:#999;line-height:25px;}
.new_article ul li a{color:#666666;width:248px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display: inline-block;line-height: 13px;}
.school_interest{width:320px;height:340px;border:1px solid #E2E2E2;margin-top:20px}
.school_interest h3{width:90%;margin:0 auto;border-bottom:1px solid #E2E2E2;color:#666666;height:50px;line-height:50px;font-size:14px;font-weight:normal}
.school_interest ul{padding:0 20px;margin-left:20px}
.school_interest ul li{list-style-image:url(https://staticresource.liuxue315.cn/images/list1.png);margin:10px 0}
.school_interest ul li a{color:#333333;display:block}
.school_interest ul li a p{display:inline-block;padding:0 2px}
.study_tool{width:320px;height:326px;margin-top:20px;border:1px solid #E2E2E2;float:right}
.study_tool h3{text-align:center;font-size:18px;color:#333;font-weight:normal;line-height:42px}
.study_tool ul li{margin-bottom:24px;height:45px}
.study_tool ul li .tool_l{float:left;width:46px;margin-left:44px;border-right:1px solid #E2E2E2;line-height:42px}
.study_tool ul li .tool_r{float:right;margin-right:46px;width:160px;height:45px;border-radius:3px;text-align:center;line-height:45px}
.study_tool ul li:nth-child(1) .tool_r{border:1px solid #f17f03}
.study_tool ul li:nth-child(1) .tool_r a{color:#f17f03}
.study_tool ul li:nth-child(2) .tool_r{border:1px solid #FD6873}
.study_tool ul li:nth-child(2) .tool_r a{color:#FD6873}
.study_tool ul li:nth-child(3) .tool_r{border:1px solid #279258}
.study_tool ul li:nth-child(3) .tool_r a{color:#279258}
.study_tool ul li:nth-child(4) .tool_r{border:1px solid #0C75A5}
.study_tool ul li:nth-child(4) .tool_r a{color:#0C75A5}
.study_tool ul > li .tool_r{border:1px solid #f17f03}
.study_tool ul > li .tool_r a{color:#f17f03;display:block;width:160px;height:46px}
.study_tool ul > li + li .tool_r{border:1px solid #FD6873}
.study_tool ul > li + li .tool_r a{color:#FD6873}
.study_tool ul > li + li + li .tool_r{border:1px solid #279258}
.study_tool ul > li + li + li .tool_r a{color:#279258}
.study_tool ul > li + li + li + li .tool_r{border:1px solid #0C75A5}
.study_tool ul > li + li + li + li .tool_r a{color:#0C75A5}
.container{margin-top:10px}
.container_l{width:750px;float:left}
.crumbs{height:39px;margin-top:9px;line-height:39px;padding-left:20px}
.crumbs a{color:#c32326}
.country_nav{height:50px;background-color:#f6f6f6}
.country_nav li{float:left}
.country_nav li a{line-height:50px;color:#333329}
.country_nav li.active a{color:#c80007}
.country_nav1{margin-bottom:20px}
.country_nav1,.train_nav{width:1100px;height:50px;background-color:#F6F6F6}
.train_nav li{float:left;margin-left:35px}
.country_nav1 li{float:left;margin-left:30px}
.country_nav1 li a,.train_nav li a{color:#333329;line-height:48px}
.train_nav li.active a,.train_nav li:hover a,.country_nav1 li:hover a,.country_nav1 li.active a{color:#c80007}
.T-pages{margin:25px 0px 0 150px;width:auto}
.T-pages-f a,.T-pages-f span{float:left;display:inline-block;line-height:48px;font-size:18px;color:#3e3e3e;border-top:2px solid #dcdcdc;text-decoration:none;padding:0px 8px}
.T-pages-f a:hover{border-top:2px solid #c80007;color:#b7241c;text-decoration:underline}
.T-pages li.active a{color:#b7241c;border-top:2px solid #c80007}
.T-pages-f a.hover{border-top:2px solid #c80007;color:#b7241c;text-decoration:none}
.enter_det{display:none;position:fixed;width:100%;height:100%;left:0;top:0;background-color:rgba(0,0,0,0.5)}
html #login_w,body #login_w{z-index:999;width:100%;height:100%;position:fixed;left:0;top:0;background-color:rgba(0,0,0,0.5);display: none; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);}
html #login_w .login_W,body #login_w .login_W{width:400px;height:370px;margin:0 auto;background-color:#ffffff;position:relative;top:50%;margin-top:-250px;border:1px solid #e2e2e2;padding-bottom:20px}
html #login_w .login_W .close,body #login_w .login_W .close{position:absolute;right:10px;top:-10px;width:28px;height:28px;cursor:pointer;z-index:9;border:0}
.login_w{width:100%;height:42px}
.login_W form{margin: 34px auto 0;width: 302px;}
.login_W .login_title{line-height:58px;text-align:center;font-size:20px;margin-top:30px;color:#666666}
.login_W .login_div{width:300px;height:40px;border:1px solid #e6e6e6;}
.login_W img{float: left;margin: 10px 10px 0;}
.login_W .login_div div{float: right;width:262px;}
.login_div .n-right .msg-wrap{margin-left: -109px!important;margin-top: 37px;}
.login_W input{border:0;color:#999;height:40px;line-height:40px;width:262px;float: right;}
.login_W button{width:300px;height:42px;background-color:#c80007}
.zhuc_link{line-height:30px;position:absolute;right:48px;top:88px}
.zhuc_link a{color:#c80007}
.yzm01{width:282px !important;margin-right:20px}
.check_button{display:inline-block;width:124px;height:35px;border:1px solid #032851;text-align:center;line-height:35px}
.check_agree{width:14px!important;height:14px!important;margin-right:18px;margin-left:20px!important}
.zhuce{width:344px;color:#FFFFFF;background-color:#aa0006;text-align:center;line-height:35px;height:35px;margin:0 auto;display:block;margin-top:0!important;font-size:18px}
.login_det li{display:none}
.login_det li.active{display:block}
.login_status{display:none;width:100%;height:100%;position:fixed;left:0;top:0;background-color:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);}
.login_status p{text-align:center;font-size:16px;font-weight:bold;color:#fff;width:600px;height:80px;position:absolute;left:50%;top:80%;margin-left:-300px;line-height:80px}
.login_status p img{width:40px;height:40px;margin-right:20px}
/*.T-golook-l{float:left;background:url(https://staticresource.liuxue315.cn/images/T-pic02.png) no-repeat;width:845px;height:60px}
.T-golook-l p{line-height:48px;color:#fff;font-size:16px}
.T-golook-l p span{color:#fff}
.T-golook-l p span{padding:0px 40px 0px 20px;font-weight:bold}
.T-golook-r{float:left;background:url(https://staticresource.liuxue315.cn/images/T-pic03.png) no-repeat;width:145px;height:60px;text-align:center}
.T-golook-r a,.T-golook-r a:hover{line-height:48px;color:#fff;font-size:16px;text-decoration:none}
.T-left{float:left}
.T-right{float:right}
.T-golook-lall{width:590px;height:50px;overflow:hidden}
.T-golook-lall li{line-height:50px}
.T-golook-lall li a{display:block;line-height:50px;color:#fff}*/

.T-golook-l{background:url(https://staticresource.liuxue315.cn/images/look.jpg) no-repeat;width:1100px;height:65px}
.T-golook-l span{padding:0px 40px 0px 20px;font-weight:bold;color:#fff}
.T-left{float: left;color: #fff;padding: 0px 40px 0px 20px;font-weight: bold;line-height: 55px;}
.T-golook-lall{width:656px;height:55px;overflow:hidden;float: left;}
.T-golook-lall li{line-height:55px;display:block;color:#fff;}
.T-golook_see{float: right;}
.T-golook-r{float:left;background:url(https://staticresource.liuxue315.cn/images/T-pic03.png) no-repeat;width:145px;height:60px;text-align:center;line-height:48px;color:#fff;font-size:16px;}

.submitButton{display:block;width:300px;height:40px;background-color:#c32326;color:#FFFFFF;line-height:40px;text-align:center;font-size:16px;letter-spacing:10px;margin:10px auto;border:0}
#login_det .n-default .n-left,#login_det .n-default .n-right{position:relative !important;top:inherit;left:500px !important;margin-top:20px}
.n-left,.n-error,.n-msg{float:none !important;width:auto !important}
.n-icon{width:16px !important}
.check_box .msg-box{margin:11px 0 0 202px !important}
.usa_li{position:relative;line-height:50px;padding:0 20px;cursor:pointer}
.usa_li ul{position:absolute;top:50px;z-index:99;left:-5px}
.usa_li ul li a{padding:0;width:96px}
.usa_li ul li{float:none;display:none;background-color:#e4e4e4}
.T-mg-nav li ul{position:absolute;top:50px;left:-20px}
.T-mg-nav li ul li{float:none;display:none;background-color:#e4e4e4}
.school_nav li ul{position:absolute;top:50px;z-index:999;left:-5px}
.school_nav li ul li{float:none;display:none;background-color:#f6f6f6;margin:0;text-align:center}
.school_nav li ul li a{display:block;height:50px}
.country_nav li a{text-align:center}
.school_nav li ul li a:hover,.country_nav li a:hover{background-color:#e4e4e4}
.country_nav li a{display:block;height:50px;padding:0 20px;text-align:center}
#modal_login_form input{position:relative}
#modal_login_form .n-default .n-left,#modal_login_form .n-default .n-right{left:498px;position:absolute;margin-top:-30px;top:inherit}
#modal_login_form .n-top,#modal_login_form .n-right,#modal_login_form .n-bottom,#modal_login_form .n-left{left:366px;margin-top:3px}
#include_free_form .msg-box{position:absolute;margin:-16px 0 0 100px}
#container_r > div,#container_r > a{margin-bottom:20px}
#school_form_right .msg-box{margin:-16px 0 0 148px}
#consult_form_bottom .msg-box{margin:-35px 0 0 300px}
#consult_form_right .msg-box{margin:-44px 0 0 155px}
#modal_reg_form .msg-box{margin:8px 0 0 -6px}
.yzm_box .msg-box{margin:11px 0 0 121px !important}
#modal_reg_form b{font-weight:normal}
.swipe_w{height:50px;overflow:hidden;margin-top: 10px;}
.swipe_w .swiper-container{height:50px;overflow:visible !important}
.swipe_w .swiper-slide{height:50px;line-height:44px}
body{width:100%;height:100%}
.praise_query{width:100%;height:100%;position:fixed;left:0;top:0;background-color:rgba(0,0,0,0.5);z-index:99;display:none}
.praise_query_det{width:600px;height:280px;background-color:rgba(255,255,255,1);margin:100px auto;border-radius:5px}
.praise_query_det h3{width:100%;position:relative;height:50px;border-bottom:1px solid #E2E2E2;line-height:50px;text-indent:20px;color:#333329}
.praise_query_det h3 .close{position:absolute;right:20px;top:10px;opacity:1}
.praise_query_det input{display:block !important;width:392px;height:34px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;margin:18px auto 0}
.praise_query_det input[type="submit"]{display:block;width:132px;height:34px;background-color:#e64d50}
.praise_query_det .msg-box{margin:0 0 0 400px}
#consultFootDiv{background:#000 none repeat scroll 0 0;border-bottom:medium none;bottom:0;right:0;color:#fff;height:35px;line-height:35px;opacity:0.85;position:fixed;text-align:right;width:100%;z-index:999}
.consultFootForm{margin:0 auto;overflow:auto;width:1100px;line-height:35px}
.consultFootLabel{margin:0 0 0 10px;min-width:30px;vertical-align:middle}
.consultFootInput{background:#fff none repeat scroll 0 0;line-height:21px;border:none;border-radius:2px;margin:7px 0;padding:2px;vertical-align:middle;width:94px}
.consultFootButton{width:60px;color:#fff;background:#E63A3A;cursor:pointer;border:none;float:right;margin-left:10px}
#consultDiv{left:5px;position:fixed;top:110px;z-index:999}
.boxform{background:#fdfdfd;border-color:#3c67a9;border-image:none;border-style:solid;border-width:3px 1px 1px;color:#333;font-size:12px;opacity:0.85;padding:0 0 0 15px;width:149px}
.boxform a{color:#a31d22;float:right;font-family:Arial;font-weight:bold;padding-right:5px;text-decoration:none}
.boxform h6{color:#1497e3;font-family:"微软雅黑","黑体","宋体";font-size:18px;font-weight:bold;margin:10px 0;width:100px}
.boxform h6::before{border-color:#3c67a9 transparent transparent;border-style:solid;border-width:7px;content:"";left:20px;position:absolute;top:0}
.boxform input,.boxform select{border:1px solid #ccc;color:#666;font-size:12px;height:24px;line-height:24px;vertical-align:middle;width:84px}
.boxform p{float:left;margin:5px 0;width:135px;position:relative;text-indent:0;line-height:20px}
.boxform label{font-size:12px;margin-right:1em;text-align:right;vertical-align:middle;width:25px}
.boxform em.error_em{background:#fff none repeat scroll 0 0;color:red;font-style:normal;line-height:16px;position:absolute;right:4px;top:6px}
.boxform button{background:#1497e3;border:none;border-radius:2px;color:#fff;cursor:pointer;font-size:14px;height:30px;margin:15px 5px;width:120px}
.logo-nav>p{font-size:22px;color:#fff;text-indent:0px;margin:10px 0 0 10px}
.logo-nav a span{margin-left:10px}
.main-nav{width:auto;display:inline-block;font-size:10px;font-family:"Microsoft YaHei";color:#fff;overflow:hidden;padding-bottom:10px;float:right}
.main-nav a{color:#fff;font-size:10px}
.main-nav a span{position:absolute;display:inline-block;width:50px;height:auto;top:36px;left:-5px;text-align:center}
.maincon,.school-detail>section{min-width:284px;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;min-width:284px;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;position:relative}
.nava{display:block;background:url('https://staticresource.liuxue315.cn/images/mainmenu.png') center 100px no-repeat;background-size:24px;position:absolute;top:1px;height:40px;width:40px;z-index:100}
.navmenu{right:2%}
.navlogin{right:15%;background-position:center 10px}
.navcomment{right:27.5%;background-position:center -35px}
.navphone{right:40%;background-position:center -78px}
.navlogout{right:15%;background-position:center -123px}
.navicon{border:1px solid #fff;border-radius:2px;position:relative;display:block;width:20px;left:9px;top:20px}
.navicon::before,.navicon::after{content:"";border:1px solid #fff;border-radius:2px;position:absolute;right:-1px;width:20px}
.navicon::before{top:-8px}
.navicon::after{top:6px}
.closeicon{border-color:transparent}
@-webkit-keyframes closemeb{0%{-webkit-transform:rotate(0);width:20px;top:-8px;left:0px}
    30%{-webkit-transform:rotate(0);top:-8px;width:25px;left:-3px}
    100%{-webkit-transform:rotate(45deg);top:-1px}
}@-webkit-keyframes closemea{0%{-webkit-transform:rotate(0);width:20px;top:6px;left:0px}
     30%{-webkit-transform:rotate(0);top:6px;width:25px;left:-3px}
     100%{-webkit-transform:rotate(-45deg);top:-1px}
 }@-moz-keyframes closemeb{0%{-moz-transform:rotate(0);width:20px;top:-8px;left:0px}
      30%{-moz-transform:rotate(0);top:-8px;width:25px;left:-3px}
      100%{-moz-transform:rotate(45deg);top:-1px}
  }@-moz-keyframes closemea{0%{-moz-transform:rotate(0);width:20px;top:6px;left:0px}
       30%{-moz-transform:rotate(0);top:6px;width:25px;left:-3px}
       100%{-moz-transform:rotate(-45deg);top:-1px}
   }@-ms-keyframes closemeb{0%{transform:rotate(0);width:20px;top:-8px;left:0px}
        30%{transform:rotate(0);top:-10px;width:25px;left:-3px}
        100%{transform:rotate(45deg);top:-1px}
    }@-ms-keyframes closemea{0%{transform:rotate(0);width:20px;top:6px;left:0px}
         30%{transform:rotate(0);top:6px;width:25px;left:-3px}
         100%{transform:rotate(-45deg);top:-1px}
     }
.closeicon::before,.closeicon::after{width:25px;left:-3px;top:-1px;border-color:#aaa}
.closeicon::before{-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-animation:closemeb .8s forwards;animation:closemeb .8s forwards}
.closeicon::after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-animation:closemea .8s forwards;animation:closemea .8s forwards}
.iconactive{background:rgba(90,90,90,.9)!important;transition:background linear .2s;border-radius:2px 2px 0 0}
.mainnav{display:block;position:absolute;z-index:500;right:2%;background:rgba(90,90,90,.9);width:55%;top:40px;box-shadow:0 3px 8px rgba(10,10,10,.75)}
.mainnav>a{color:#fff;line-height:40px;border-style:solid;border-color:#666;border-width:1px 0;margin-top:-1px;padding:0 10px;display:block;text-align:right}
.comnav,footer,#lim_mobile_chat{display:none!important}
@media only screen and (max-width:900px){.comnav,footer{display:block!important}
    nav.comnav>a{font-size:16px;box-sizing:border-box}
    nav.pgnav,nav.comnav{width:100%;position:fixed;bottom:0;display:block;box-shadow:0 -3px 5px rgba(10,10,10,.6)}
    footer{text-align:center;margin:20px auto 60px;background:rgba(255,255,255,.35);height:50px;padding-top:25px}
    .wap_form{padding:0 5% 20px;background: rgb(245,245,245);display: block;}
	.wap_form input{width: 95%;background: #fff;padding: 10px;border: none;border-bottom: solid 1px #efefef; font-size: 16px;}
	.submitButton{-webkit-appearance: none;color: #fff;font-weight: bold;font-size: 20px;margin-top: 10px;border-radius: 2px;background: #e05454;border: none;}
	.grayHint{display: block;color: #999;line-height: 1em;margin: 10px auto; padding: 5px 10px;text-align: center;}
	.container{overflow-x: hidden;width: 100%;}
}
/*分享*/
.share_button{cursor: pointer;}
.fadein{width: 100%;height: 100%;position: fixed;left: 0;top: 0;background-color: rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);display: none;}
.modal-dialog{width: 600px;height: 258px;background-color: #fff;border-radius: 5px;margin: 50px auto;}
.modal-title{line-height: 40px;border-bottom: 1px solid #e5e5e5;font-size: 16px;text-indent: 20px;font-weight: normal;color: #666;}
.modal-header{position: relative;}
.modal-header .close{position: absolute;right: 10px;top: 8px;}
.modal-header .close span{font-size: 18px;}
.qq-oauth, .sina-oauth {
    display: block;
    color: white!important;
    font-size: 18px!important;
    line-height: 24px!important;
    padding: 8px 0 8px 50px;
    min-width: 170px;
    margin: 10px 0!important;
    background: url("https://staticresource.liuxue315.cn/images/qq.png") #3c93d6 13px center no-repeat;
    background-image: -webkit-image-set(url("https://staticresource.liuxue315.cn/images/qq.png") 1x, url("https://staticresource.liuxue315.cn/images/qq_2x.png") 2x);
    transition: background 0.3s;
    letter-spacing: 0!important;
    border-radius: 2px!important;
}
.share-qzone {
    background: url("https://staticresource.liuxue315.cn/images/qzone.png") #fcad1c 10px center no-repeat;
    background-image: -webkit-image-set(url("https://staticresource.liuxue315.cn/images/qzone.png") 1x, url("https://staticresource.liuxue315.cn/images/qzone_2x.png") 2x);
    display: block;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 0 8px 50px;
    margin: 10px 0;
    transition: background 0.3s;
    letter-spacing: 0;
    border-radius: 2px;
    color: white;
}
.sina-oauth {
    background: url("https://staticresource.liuxue315.cn/images/weibo.png") #eb192d 10px center no-repeat;
    background-image: -webkit-image-set(url("https://staticresource.liuxue315.cn/images/weibo.png") 1px, url("https://staticresource.liuxue315.cn/images/weibo_2x.png") 2px);
}
.share-modal .modal-body > div.share-list {
    padding: 10px;
}
.share-modal .modal-body > div {
    float: left;
    width: 48%;
}
/**查看案例弹出框**/
.enter_cont{width: 610px; height: 568px; position: relative; background-color: #ffffff; left: 50%; top: 30%; margin-left: -295px; margin-top: -204px; border-radius: 10px; overflow: hidden;}
.enter_cont_det{padding: 16px 36px;}
.enter_cont_header{width: 100%;height: 40px;background-color: #f1f1f1;}
.enter_cont ul{color: #235095; display: block; margin-left: 20px; margin-top: -10px; width: 500px; float: left;}
.enter_cont ul li span{margin-right: 54px;}
.enter_cont_det>p>span{color:#c70514;font-size: 16px;}
.enter_cont a{color:#235095;text-decoration:underline;}
.indet_form {background-color: #f2f2f2;height: 134px;margin: 0 30px;line-height: 24px;  }
.indet_form h3 {font-size: 14px;font-weight: bold;margin: 6px 0 6px 16px;}
.indet_form h3 span {font-size: 12px;font-weight: normal;}
.indet_form form {background-color: #f2f2f2;margin-left:16px;width: 450px;}
.indet_form form input, .indet_form form select {width: 100px;height: 26px;border: 1px solid #d3d3d3;float: left;margin: 0 8px 12px 0;text-indent: 10px;box-sizing: border-box;}
.indet_form form input[type=checkbox]{width: auto;height:auto;margin-bottom: 4px;}
.indet_form form p{font-size: 12px;display: inline-block;line-height:14px;}
.indet_form form .submitButton{width: 100px;height: 30px;margin: 10px auto 0;line-height:normal;font-size:14px;padding-left:12px;}